
#posts {
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#posts .post {
    width: 90%;
    display:flex;
    justify-content: space-between;
    padding: 30px 0px 20px 0px;
    border-bottom: 1px solid hsl(0, 0%, 73%);
    text-decoration: none;
    cursor: pointer;
    color:black;
}

#posts .post:hover {
    background-color: hsl(0, 0%, 93%);
}

#posts .post-title {
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
    color: #0B90C9;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

#posts .post-info {
    padding-left:20px;
    width:80%;
}

#posts .post-description {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

#posts .post-price {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    width:15%;
    padding-right:20px;
    text-align: right;
    align-self: center;

}
